/nbproject
/config.php
/soap/
/serv/
/pays/
/jobs/
/extent/
/modules/lanbilling/
/modules/menu/lanbilling/
/modules/menu/lanbilling.php
/modules/menu/
/inc/menu/lanbilling.php
/controller/server/lanbilling/
/controller/client/view/lanbilling/
/controller/client/themes/bootstrap/lanbilling/
/controller/client/js/lanbilling/
/console.php
/updatelb.php
/photos/*.jpg
/photos/*.png
/data
/notify.mp3
/notify.ogg
/notify.wav
