<?php
// Данный код создан и распространяется по лицензии GPL v3
// Разработчики:
//   Грибов Павел,
//   Сергей Солодягин (solodyagin@gmail.com)
//   (добавляйте себя если что-то делали)
// http://грибовы.рф

$debug = false; // Режим отладки - РЕКОМЕНДУЮ поставить false !!!

$userewrite = 0; // Использовать модуль rewrite

$codemysql = 'utf8'; // Кодировка базы
$mysql_base_id = ''; // Идентификатор соединения
$mysql_host = 'localhost'; // Хост БД
$mysql_user = 'root'; // Пользователь БД
$mysql_pass = ''; // Пароль пользователя БД
$mysql_base = 'webuser'; // Имя базы

$err = array(); // Массив с сообщениями об ошибках для показа пользователю при генерации страницы
$ok = array(); // Массив с информационными сообщениями для показа пользователю при генерации страницы

date_default_timezone_set('Europe/Moscow'); // Временная зона по умолчанию

// Если активен режим отладки, то показываем все ошибки и предупреждения
if ($debug) {
	ini_set('display_errors', 1);
	error_reporting(E_ALL);
}
?>
